{% extends "base.html" %}    
{% load static %}
{% block content %}
<html>
<body>
	<div class= "Profile">
            <h2>  {{ profile.title }}  </h2>
            <p> {{ profile.bio }} </p>
            {% if request.user == profile.user %}
            	<a href="{% url 'edit_profile' id=profile.id %}"> Edit your profile! </a>
            {% endif %}
	</div>
	<br>
	{% for post in post %}
	<div class= "Posts">
		<a href="{% url 'post' id=post.id %}"> {{ post.title }} </a>
		<p> <img src="{{ post.image.url }}", style= "width:100px;"/> </p>
		{% if request.user == profile.user %}
			<a href="{% url 'edit_post' id=post.id %}"> Edit this post! </a>
			<a href="{% url 'delete_post' id=post.id %}"> Delete this post! </a>
		{% endif %}
	</div>
	{% endfor %}
	<div>
		{% if request.user == profile.user %}
			<a href="{% url 'create_post' %}"> Create a new post! </a>
		{% endif %}
	</div>
{% endblock content %}
</body>
</html>