{% extends "base.html" %}    
{% load static %}
{% block content %}
<html>
<body>
	<div class= "Profile">
            <h2>  {{ profile.title }}  </h2>
            <p> {{ profile.bio }} </p>
            <a href="{% url 'edit_profile' id=profile.id %}"> Edit me! </a>
	</div>
	{% for post in post %}
	<div class= "Posts">
		<a href="{% url 'post' id=post.id %}"> {{ post.title }} </a>
		<p> <img src="{{ post.image.url }}", style= "width:100px;"/> </p>
	</div>
	{% endfor %}
	<div>
		<a href="{% url 'create_post' %}"> Create a new post! </a>
	</div>
{% endblock content %}
</body>
</html>