{% extends "base.html" %}    
{% load static %}
{% block content %}
<html>
<body>
	<div class= "profile">
            <h2>  {{ profile.title }}  </h2>
            <h5> {{ profile.bio }} </h5>
            <p> <img src="{{ profile.profile_pic.url }}", style= "width:100px;"/> 
            {% for connection in connection %}
                {% if connection.follower == request.user %}
                    <a> Following! </a>
                {% endif %}
                {% if not request.user == profile.user and not connection.follower == request.user %}
                    <a href="{% url 'follow' id=profile.user.id %}"> Follow Profile! </a>
                {% endif %}
            {% endfor %}
            {% if request.user == profile.user %}
            	<a href="{% url 'edit_profile' id=profile.id %}"> Edit your profile! </a>
            {% endif %}
	</div>
	<br>
	{% for post in post %}
	<div class= "posts">
		<p> <a href="{% url 'post' id=post.id %}"> {{ post.title }} </a> <p>
		<p> <img src="{{ post.image.url }}", style= "width:100px;"/> </p>
	</div>
	<div class= "postactions">
		{% if request.user == profile.user %}
			<li> <a href="{% url 'edit_post' id=post.id %}"> Edit this post! </a> </li>
			<li> <a href="{% url 'delete_post' id=post.id %}"> Delete this post! </a> </li>
		{% endif %}
	</div>
	{% endfor %}
	<br>
	<div>
		{% if request.user == profile.user %}
			<a href="{% url 'create_post' %}"> Create a new post! </a>
		{% endif %}
	</div>
{% endblock content %}
</body>
</html>