{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'site.css' %}">
</head>
<body>
	<ul id="nav">
		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'search' %}">Search</a></li>
			{% if user.is_authenticated %}
				<li> Currently logged in as {{user.username}} </li>
				{% if user.has_profile %}
					<li><a href="{% url 'myprofile' %}">My Profile</a></li>
					<li><a href="{% url 'following' %}">Following</a></li>
					<li><a href="{% url 'followers' %}">Followers</a></li>
				{% endif %}
				{% if user.doesnothave_profile %}
				<li><a href="{% url 'create' %}">CreateProfile</a></li>
				{% endif %}
				<li><a href="{% url 'logout' %}">logout</a></li>
			{% else %}
				<li>You are not logged in</li>
  				<li><a href="{% url 'login' %}">login</a></li>
  				<li><a href="{% url 'signup' %}">signup</a></li>
			{% endif %}
	</ul>
	<main>
    	{% block content %}
    		<link rel="stylesheet" href="{% static 'site.css' %}">
    	{% endblock %}
	</main>
</body>
</html>